# Practical Statistics for Data Science

In [2]:
import pandas as pd

In [4]:
medal_count = pd.read_excel("data\Medals.xlsx")
medal_count

c:\Users\zik__\OneDrive\Desktop\Jupyter Notebooks\pratical_statistics\venv\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Rank,Team/NOC,Gold,Silver,Bronze,Total,Rank by Total
0,1,United States of America,39,41,33,113,1
1,2,People's Republic of China,38,32,18,88,2
2,3,Japan,27,14,17,58,5
3,4,Great Britain,22,21,22,65,4
4,5,ROC,20,28,23,71,3
...,...,...,...,...,...,...,...
88,86,Ghana,0,0,1,1,77
89,86,Grenada,0,0,1,1,77
90,86,Kuwait,0,0,1,1,77
91,86,Republic of Moldova,0,0,1,1,77
92,86,Syrian Arab Republic,0,0,1,1,77

### Estimates of Location

In [5]:
#Mean
medal_count["Total"].mean()

11.612903225806452

In [6]:
import numpy as np

In [8]:
#Weighted Mean
np.average(medal_count["Total"], weights=medal_count["Gold"])

46.832352941176474

In [10]:
#Trimmed Mean
from scipy.stats import trim_mean

In [13]:
#Trimmed Mean, cutting out the top and the bottom 10%
trim_mean(medal_count["Gold"], 0.1)

1.96

In [17]:
trim_mean(medal_count["Total"], 0.1)

6.8933333333333335

In [16]:
#median
print(medal_count["Gold"].median())
print(medal_count["Total"].median())

1.0
4.0

In [19]:
#weighted median
import wquantiles
wquantiles.median(medal_count["Total"], weights=medal_count['Gold'])

39.400000000000006

In [20]:
#weighted median using pandas
def weighted_median(df, median_col, weight_col):
    df_sorted = df.sort_values(median_col)
    cumsum = df_sorted[weight_col].cumsum()
    cutoff = df_sorted[weight_col].sum() / 2.
    return df_sorted[cumsum >= cutoff][median_col].iloc[0]

weighted_median(medal_count,"Total", "Gold")

40

In [22]:
#percentile
# q3 meaning above the 3rd quater of the population or 75%, meanining if you have a q3 number of medals 
# you are above of the 75% 
q3 = np.percentile(medal_count["Total"], 75)
q3

11.0